name: "IAC pipeline"

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - main
    paths:
      - terraform/**
  workflow_dispatch:
    inputs:
      env:
        description: 'Select environment'
        required: true
        default: 'dev'
        type: choice
        options:
          - dev
          - prod
      action:
        description: 'Select action: apply or destroy'
        required: true
        default: 'apply'
        type: choice
        options:
          - apply
          - destroy    

env:
  AWS_REGION: us-east-1
  AWS_ACCESS_KEY_ID: ${{ secrets.ACCESS_KEY }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.SECRET_ACCESS_KEY }}
  BUCKET_TF_STATE: ${{ secrets.BUCKET_TF_STATE }}

jobs:
  terraform:
    name: "Terraform Pipeline"
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./terraform

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Set ENV_NAME variable
        run: |
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            echo "ENV_NAME=${{ github.event.inputs.env }}" >> $GITHUB_ENV
          else
            echo "ENV_NAME=${GITHUB_REF_NAME}" >> $GITHUB_ENV
          fi

      - name: Terraform Init
        run: terraform init -backend-config="bucket=${BUCKET_TF_STATE}"

      - name: Select or Create Workspace
        run: |
          echo "Using workspace: $ENV_NAME"
          terraform workspace select "$ENV_NAME" || terraform workspace new "$ENV_NAME"

      - name: Terraform Fmt
        run: terraform fmt

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        id: plan
        run: terraform plan --input=false --out=tfplan -var-file="$ENV_NAME.tfvars"
        continue-on-error: true

      - name: Fail if plan failed
        if: steps.plan.outcome == 'failure'
        run: exit 1

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install Checkov
        run: pip install checkov
    
      - name: Run Checkov Scan (JSON)
        run: checkov -d . --output json 

      - name: Show first lines of Checkov report
        run: head -n 20 checkov-report.json

      - name: Upload Checkov JSON Report
        uses: actions/upload-artifact@v4
        with:
          name: checkov-report
          path: ./terraform/checkov-report.json
      - name: Install Checkov
        run: pip install checkov

      - name: Run Checkov HTML Report
        run: checkov -d . --output json --output-file-path checkov-report.json


      - name: Upload Checkov HTML Report
        uses: actions/upload-artifact@v4
        with:
          name: checkov-html-report
          path: ./terraform/checkov-report.html
      - name: Show Checkov CLI summary
        run: checkov -d . --output cli

      - name: Terraform Apply
        id: apply

        run: |

          terraform apply -var-file="dev.tfvars" -auto-approve -input=false -parallelism=10 tfplan
      
      
      - name: Trigger Success Event
        if: ${{ success() && steps.apply.outcome == 'success' }}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: us-east-1
        run: |
          aws events put-events --entries '[{
            "Source": "custom.terraform",
            "DetailType": "Terraform Apply Success",
            "Detail": "{}"
          }]'

      - name: Trigger Failure Event
        if: ${{ failure() || steps.apply.outcome == 'failure' }}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: us-east-1
        run: |
          aws events put-events --entries '[{
            "Source": "custom.terraform",
            "DetailType": "Terraform Apply Failed",
            "Detail": "{}"
          }]'

      - name: Fail if apply failed
        if: failure()
        run: exit 1

      - name: Terraform Output
        if: success()
        run: terraform output -json > output.json




      # # Apply or Destroy only on manual trigger
      # - name: Terraform Apply or Destroy
      #   if: github.event_name == 'workflow_dispatch'
      #   run: |
      #     if [ "${{ github.event.inputs.action }}" == "destroy" ]; then
      #       terraform destroy -var-file="${{ github.event.inputs.env }}.tfvars" -auto-approve
      #     else
      #       terraform apply -var-file="${{ github.event.inputs.env }}.tfvars" -auto-approve -input=false -parallelism=10 tfplan
      #     fi

      # - name: Fail if apply/destroy failed
      #   if: github.event_name == 'workflow_dispatch' && failure()
      #   run: exit 1

      # - name: Terraform Output
      #   if: github.event_name == 'workflow_dispatch' && success()
      #   run: terraform output -json > output.json
