name: "IAC pipeline"

on:
  push:
    branches:
      - dev
    
  pull_request:
    branches:
      - main
    paths:
      - terraform/**
  workflow_dispatch: # Manual trigger for apply stepon:
    inputs:
      env:
        description: 'Select environment'
        required: true
        default: 'dev'
        type: choice
        options:
          - dev
          - prod
      action:
        description: 'Select action: apply or destroy'
        required: true
        default: 'apply'
        type: choice
        options:
          - apply
          - destroy    




env:
  AWS_REGION: us-east-1
  AWS_ACCESS_KEY_ID: ${{ secrets.ACCESS_KEY }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.SECRET_ACCESS_KEY }}
  BUCKET_TF_STATE: ${{ secrets.BUCKET_TF_STATE }}
  

jobs:
  terraform:
    name: "Terraform Pipeline"
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./terraform

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
      - name: Set ENV_NAME variable
        run: echo "ENV_NAME=${{ github.event.inputs.env || github.ref_name }}" >> $GITHUB_ENV

      - name: Terraform Init
        run: terraform init -backend-config="bucket=${BUCKET_TF_STATE}"

      - name: Select or Create Workspace
        run: |
          ENV_NAME="${{ github.event.inputs.env || github.ref_name }}"
          echo "Using workspace: $ENV_NAME"
          terraform workspace select "$ENV_NAME" || terraform workspace new "$ENV_NAME"


      - name: Terraform Fmt
        run: terraform fmt 

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        id: plan
        run: terraform plan --input=false --out=tfplan -var-file=${ENV_NAME}.tfvars
        continue-on-error: true

      - name: Fail if plan failed
        if: steps.plan.outcome == 'failure'
        run: exit 1

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Run Checkov Scan
        id: checkov
        run: |
          pip install checkov
          checkov -d . --output json --soft-fail-on HIGH,CRITICAL > checkov-report.json

      - name: Show first lines of Checkov report
        run: head -n 20 checkov-report.json

      - name: Upload Checkov Report
        uses: actions/upload-artifact@v4
        with:
          name: checkov-report
          path: checkov-report.json





      #- name: Fail if Checkov failed
       # if: steps.checkov.outcome == 'failure'
        #run: exit 1

      # Apply ONLY when triggered manually
      - name: Terraform Apply or Destroy
        if: github.event_name == 'workflow_dispatch'
        run: |
          if [ "${{ github.event.inputs.action }}" == "destroy" ]; then
            terraform destroy -var-file=${{ github.event.inputs.env }}.tfvars -auto-approve
          else
            terraform apply -var-file=${{ github.event.inputs.env }}.tfvars -auto-approve -input=false -parallelism=10 tfplan
          fi

      - name: Fail if apply/destroy failed
        if: github.event_name == 'workflow_dispatch' && failure()
        run: exit 1

      - name: Terraform Output
        if: github.event_name == 'workflow_dispatch' && success()
        run: terraform output -json > output.json
